body{
background-color:black;
}
.s0{
font-size:60px;
color:DodgerBlue;
font-family:bold;
}
.s1{
color:DodgerBlue;
font-size:40px;
font-family:bold;
}
.s2{
border:3px dotted white;
background-color:black;
}
.s3{
color:DodgerBlue;
font-size:20px;
}
.s4{
color:Gold;
font-size:20px;
}.s5{
color:Aqua;
font-size:50px;
}